*, *::after, *::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: hsl(200, 100%, 85%);
    color: hsl(200, 100%, 10%);
    font-family: sans-serif;
}

.header {
    display: flex;
    align-items: center;
}

.header-left {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
    margin: .5rem;
    padding: .5rem;
    border-right: 2px solid hsl(200, 100%, 10%);
}